@using Microsoft.AspNetCore.Http;
@model Interfleet.XIUserManagement.Models.LoginViewModel;
@{
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/mylib.js"></script>
</head>
<body>
    <style>
        .red {
            display: flex;
        }

        .nav1 {
            margin-left: 820px;
            font-size: 15px;
            color: dodgerblue;
        }

        .nav2 {
            font-size: 15px;
            color: dodgerblue;
        }

        .red a {
            display: inline;
            margin-right: 20px;
            color: dodgerblue;
            font-size: 16.5px;
        }
    </style>
    <script>
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onload = function () { void (0) }
    </script>


    <div class="col-lg-12 col-lg-offset-3 text-center" asp-area="" asp-controller="Home" asp-action="Index"><h4>Welcome @Context.Session.GetString("username") to User Management</h4></div>
    <div class="red col-lg-12 col-lg-offset-3 text-center">

        <a class="nav1" asp-area="" asp-controller="User" asp-action="Index">Users</a>
        <a class="nav2" asp-area="" asp-controller="Login" asp-action="Logout">Sign Out</a>

    </div>
    <br />
    <div class="col-lg-12 col-lg-offset-3 text-center">
        <img src="~/images/19112020083115_profile_66usermanagement.jpg" />
    </div>

</body>
</html>


